[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pylint = "*"
pytest = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
pytest-sugar = "*"
"autopep8" = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
coveralls = "*"


[requires]

python_version = "3.6"
